<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title || 'TihoChat' %></title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    
    <!-- JavaScript -->
    <script src="/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/9648148fcd.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Special header for home page -->
    <div class="header__image">
        <div class="logo">
            <p class="center"><img id="logo" src="/tihochat-high-resolution-logo-transparent.png" alt="TihoChat" /></p>
        </div>
    </div>
    
    <!-- Main Content -->
    <div class="main">
        <div class="main__common">
            <div class="form__container">
                <main class="form-signin w-100 m-auto">
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <a class="btn btn-outline-light btn-lg" href="/invite" role="button">У меня есть приглашение</a>
                        <a class="btn btn-outline-light btn-lg" href="/login"  role="button">У меня уже есть аккаунт</a>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>
