<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiho Chat</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/9648148fcd.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <div class="logo">
        <div class="header__back">
            <i class="fas fa-angle-left"></i>
        </div>
        <h1>Tiho Chat / Настройки профиля / <%= sessionUser.name %></h1>
    </div>
</div>
<div class="main">
    <div class="main__common">
        <div class="form__container">
            <main class="form-signin w-100 m-auto">
            </main>
        </div>
    </div>
</div>
</body>
</html>