<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiho Chat</title>
    <link rel="stylesheet" href="/style.css" />
    <script>
        const PERSON = "<%= person %>";
        const INVITE_ID = "<%= inviteId %>"
    </script>
    <script src="https://kit.fontawesome.com/9648148fcd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
    <script src="/utils.js" defer></script>
</head>
<body>
<div class="header">
    <div class="logo">
        <div class="header__back">
            <i class="fas fa-angle-left"></i>
        </div>
        <h1>Tiho Chat</h1>
    </div>
</div>
<div class="main">
    <div class="main__common">
        <div class="form__container">
            <p class="center">Для пользования данным ресурсом надо пройти регистрацию</p>
            <main class="form-signin w-100 m-auto">
                <form action="/registration" method="post">
                    <input type="hidden" id="invite_id" name="invite_id" value="<%= inviteId %>">
                    <div class="mb-3">
                        <input
                            class="form-control form-control-lg"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Укажите имя, например, <%= person %>"
                            aria-label=".form-control-lg example"
                        >
                    </div>
                    <div class="mb-3">
                        <input
                            class="form-control form-control-lg"
                            type="text"
                            id="login"
                            name="login"
                            placeholder="Укажите желаемый логин"
                            aria-label=".form-control-lg example"
                        >
                    </div>
                    <div class="mb-3">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control form-control-lg"
                            placeholder="Придумайте пароль"
                            aria-label=".form-control-lg example"
                        >
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="checkDefault" onclick="togglePasswordVisibility()">
                            <label class="form-check-label" for="checkDefault">
                                <span class="show__password">Показать пароль</span>
                            </label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button class="btn btn-outline-light btn-lg" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
</body>
</html>